language: swift
osx_image: xcode10.2

env:
  matrix:
   - DESTINATION="platform=iOS Simulator,OS=12.0,name=iPhone X"
   - DESTINATION="platform=tvOS Simulator,OS=12.0,name=Apple TV 4K"

before_script: cd Texstyle

script:
   - xcodebuild clean test -project Texstyle.xcodeproj -scheme Texstyle -destination "$DESTINATION" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
   
after_success:
  - bash <(curl -s https://codecov.io/bash)
